<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>서비스 지향 컴퓨팅 및 실습(6조)</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/business-frontpage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><b>Green Light</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/documents">Documents</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2"><b>Green Light</b></h1>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Introduce</h2>
        <hr>
        <p style="line-height: 300%; font-size: 15px; "> Green Light API는 사용자가 지도에서 자신의 주변 음식점 검색 시 이동수단에 따른 소요시간과 식사시간을 <br>고려하여 사용자를 돕는 서비스를 제공하는 API입니다.</p>
        <br><br><br><br><br>
        <h2>적용한 API</h2>
        <hr>
        <div class = "row">
          <div style="width:200px; height:200px;">
            <img class="card-img-mid img-fluid" src="static/img/direction_api.png"  align="left" alt="" >
            <br><br>
          </div>
          <div style="width: 50px; height: 200px;"></div>
          <div style="width:500px; height:200px; word-break: break-all;">
            <p style="padding-top: 30px">
              <span style="font-size:1.0em;  line-height: 300%">
              HTTP 요청을 사용하여 길 찾기 API를 사용하여 운전, 사이클링, 걷기 및 대중 교통 라우팅에 액세스 할 수 있습니다. 웨이포인트는 특정 위치를 통해 경로를 변경할 수 있는 기능을 제공합니다.
              </span>
            </p></span>
          </div>

        </div>
        <hr>
        <div class = "row">
          <div style="width:200px; height:200px;">
          <img class="card-img-mid img-fluid" src="static/img/geolocation_api.png" align="left" alt="" >
          </div>
          <div style="width: 50px; height: 200px;"></div>
          <div style="width:500px; height:200px; word-break: break-all;">
            <p style="padding-top: 30px;">
              <span style="font-size:1.0em; line-height: 300%">
                모바일 클라이언트가 Geolocation API로 감지할 수 있는 셀 타워 및 WiFi 액세스 포인트와 같은 정보를 기반으로 위치 및 정확도 반경을 찾습니다.
              </span>
            </p>
          </div>
        </div>
        <hr>

        <div class= "row">
          <div style="width:200px; height:200px;">
            <img class="card-img-mid img-fluid" style="margin-left: 20px;margin-top: 50px" src="static/img/naver.png" align="left"  alt="" >
          </div>
          <div style="width: 50px; height: 200px;"></div>
          <div style="width:500px; height:200px; word-break: break-all;">
            <p style="padding-top: 30px">
              <span style="font-size:1.0em; line-height: 300%">
                길찾기 API는 지도 앱 메인 화면에서 주요 지역까지의 소요 시간과 거리, 예상 유류비, 통행 요금 정보를 제공합니다. 그리고 경로상 분기점에서 안내가 필요한 경우 해당 지점에서의 guide code를 제공합니다.</span></p>
          </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div style="width:200px; height:300px;">
          <img class="card-img-mid img-fluid" src="static/img/place_api.png" align="left" alt="" >
          </div>
          <div style="width: 50px; height: 200px;"></div>
          <div style="width:500px; height:200px; word-break: break-all;">
            <p style="padding-top: 30px">
              <span style="font-size:1.0em; line-height: 300%;">
                Google 지도에서 사용하는 동일한 데이터베이스에서 데이터를 가져옵니다. 장소는 소유자 검증 목록과 사용자 중재 기여를 통해 자주 업데이트되는 1억 개 이상의 비즈니스와 관심 지점을 특징으로 합니다.
              </span>
            </p>
          </div>
        </div>
        <hr>



      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Stunning</strong>
          <br> 서비스 지향 컴퓨팅 및 실습 (6조)
          <br>팀장 : 이환
          <br>팀원 : 김준원, 최상원
          <br>
        </address>
        <address>
          <abbr title="Phone">Phone number : </abbr>
          010-8218-1996
          <br>
          <abbr title="Email">Email:</abbr>
          <a href="mailto:#">moondves16@koreatech.ac.kr</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">제품 소개</h4>
          </div>
          <div class="card-footer" width="100" >
            <a href="/product" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">문서 보기</h4>
          </div>
          <div class="card-footer">
            <a href="/documents" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>