<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Business Frontpage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/business-frontpage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../"><b>Green Light</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Product
            <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../documents">Documents</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2"><b>Green Light</b></h1>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Category</h1>
        <div class="list-group">
          <a href="../" class="list-group-item">Home</a>
          <a href="#" class="list-group-item active">Product</a>
          <a href="../documents" class="list-group-item">Documents</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">

          <div class="card-header">
            <h4 class="card-title" style="height: 30px"><b>주요 특징</b></h4>
          </div>
          <div class="card-body">
            <p class="card-text" style="word-break: break-all;" >이 API는 구글 geolocation API에서 일정 범위 이내 음식점의 상호명, 위도, 경도, 식별번호를 받아와, 각 음식점들의 식별번호를 Google place details API에 전달하여 오픈시간, 마감시간을 받아 옵니다. (파라미터를 이용해 자신이 원하는 위치를 지정 가능) 그 다음 Google Direction API를 이용하여 현재 위치에서 음식점까지의 대중교통을 이용했을 때의 소요시간을 저장하고 Naver maps API를 사용하여 자동차를 이용했을 때의 소요시간을 저장합니다.
            </p>
            <img class="card-img-mid img-fluid" src="static/img/map2.png" alt=""width="300" height="300" align="center" >
            <hr>

          </div>

        </div>
        <!-- /.card -->

        <br><br><br>
        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            제공 기능
          </div>
          <div class="card-body">
            <p>★ 위치 제공 : 현재 자신의 위치를 지도 위에 정확하게 표시 할 수 있도록 좌표 정보를 제공합니다.</p>
            <hr>
            <p>★ 위치에 따른 음식점 위치 : 자신 위치 일정 반경 안의 음식점의 위치 좌표를 제공합니다.</p>
            <hr>
            <p>★ 음식점 정보 : 음식점의 상호명, 고유 ID, 오픈시간, 마감시간을 제공합니다.  </p>
            <hr>
            <p>★ 이동 시간 : 자신의 위치와 음식점 사이의 거리를 계산하여 이동 수단에 따른 시간을 제공합니다.</p>
            <hr>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>